.card_body{
    
    width: 100%;
    
}
.card{
    width: 301px;
    background-color: rgb(241, 241, 247);
    border-radius: 2px;
    margin: 10px;
    color: rgb(24, 23, 23);
    display: flex;
    
    justify-content: center;
    box-shadow: 1px 2px 4px rgb(26, 25, 25);
    box-sizing: border-box;
    align-items: center;
    transition: .3s;

}
p{
    line-height: 30px;
    text-align: center;

}


.card:hover{
    box-shadow: 5px 5px 10px rgb(26, 25, 24);
}